html {
  height: 100%;
  box-sizing: border-box;
}

figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $text-color;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

h1, h2, h3, h4, h5, h6 {
  font-family: $head-font-family;
}

h2 {
  padding-top: 5px;
  margin-bottom: -15px;
}

a {
  text-decoration: none;
  color: $brand-color;
  &:hover {
    color: $text-color;
  }
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

/**
 * Blockquotes
 */
blockquote {

  color: $grey-color;
  border-left: 4px solid $brand-color;
  padding-left: $spacing-unit / 2;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

.content {
  max-width: $content-width;
  transition: all .2s;
  transition-delay: .1s;
  margin: 0 auto 100px auto;
  padding: 1rem 1rem;
  @include media-query($on-mobile) {
    font-size: 1em;
  }

  p {
    margin-bottom: 1em;

  }
}

.site-title {
  font-size: 35px;
  font-weight: 700;
  display: inline-block;
  margin: 2em 0 0 0;
  text-transform: uppercase;
  background: transparent;
  color: $text-color;
  @include media-query($on-mobile) {
    margin: 1em 0 0em 0;
  }
}

header {
  text-align: right;
}

.post-index {
  display: table;
  margin: 1rem 0 0 0;

  .post-content {
    display: table-cell;
    vertical-align: top;

    div {
      line-height: 1.5em;
      margin-bottom: 0.1em;
    }

    .post-detail {
      font-family: $details-font-family;
      color: lighten($grey-color, 10%);
      font-size: 0.8em;
      font-style: italic;
      ul {
        padding: 0;
      }
      li {
        display: inline;
        margin-right: 15px;
        white-space: nowrap;
        i {
          padding-right: 5px;
        }
      }
    }
  }
}

.contact-list {
  font-size: 0.8em;
  text-align: right;
  margin-top: -15px;

  li {
    display: inline;
    a {
      color: teal;
      &:hover {
        color: $brand-color;
      }
    }
  }
}
.hide-on-mobile {
  @include media-query($on-mobile) {
    display: none !important;
  }
}

.list {
  border-bottom: 1px solid #ddd;
}

.post-index-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0;
}

.post-title {
  display: table;
}

.logo, .title {
  display: table-cell;
  vertical-align: middle;
  color: $brand-color;
  h1 {
    font-size: 1.6em;
    padding-top: 0;
    margin-top: 13px;
    line-height: 1.4;
    margin-bottom: 0;
    font-family: $base-font-family;
    @include media-query($on-mobile) {
      font-size: 1.5em;
    }
  }
  time {
    font-style: italic;
    font-size: 0.8em;
    color: $grey-color;
  }
}

.logo {
  font-size: 400%;
  padding-right: 0.5em;
  @include media-query($on-mobile) {
    font-size: 200%;
  }

}

.video {
  width: 100%;
  height: 360px;
  @include media-query($on-mobile) {
    height: 160px;
  }
}

footer {
  text-align: center;
  padding: 2em 0;
}
